@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3e70b5);
}
.container{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 12px 12px 20px rgba(156, 157, 161, 0.5),
              -12px -12px 20px rgba(233, 234, 235, 0.5) 

}
.content 
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row button
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    transition: .1s;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer 
}
.operator{
    color: #6dee0a;
}

.equalBtn{
    background-color: #fb7c14 !important;
}

.row button:hover 
{
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1),
                inset -5px -5px 8px #fff;
    background: #fff;
}

.display #screen 
{
    margin-bottom: .5em;
    width: 510px;
    height: 100px;
    font-size: 40px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
#eval 
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer 
}
#eval:hover 
{
    box-shadow: inset 5px 5px 8px #00ace6,
                    inset -5px -5px 8px #f9fafa;
}
#ac 
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    background-color: rgb(15, 165, 230);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer 
}
#ac:hover 
{
    box-shadow: inset 5px 5px 8px #f8f8f8,
                inset -5px -5px 8px #f8f8f8;
}
#del 
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    background-color: rgb(195, 55, 179);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer 
}
#del:hover 
{
    box-shadow: inset 5px 5px 8px #ffffff,
                inset -5px -5px 8px #fefefe;
}